s/*
 * Custom CSS
 */

:root {
    --bs-body-bg: var(--bs-gray-100);
  }

code, pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.hljs {
    padding: 9.5px;
}

pre {
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space-collapse: preserve;
    text-wrap-mode: nowrap;
}